# Local caches
.ipynb_checkpoints/
__pycache__/
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
*.egg

# Environment
.env
.venv
venv/
.vscode/
osic-kaggle/

# pytest
.pytest_cache/

# Project specific
data/train/
data/test/
data/.DS_Store
